@font-face {
    font-family: TWKMono;
    src: url(TWKEverettMono-LightItalic\ copy.ttf);
}

@font-face {
    font-family: TWKMonoIT;
    src: url(TWKEverettMono-BookItalic\ copy.ttf)
}

@font-face {
    font-family: TWKMonoLight;
    src: url(TWKEverettMono-LightItalic\ copy.ttf)
}

/* Class */
.fun{
    color: black
}

.fun:hover{
   color:rgb(255, 124, 229);
   font-family: 'Times New Roman', Times, serif;
}

.navlink{
    color:black
   }

.navlink:hover{
    color: rgb(255, 124, 229);
 }
   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.h-container {
    position: relative;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.vertical-bar {
    width: 40px;
    height: 200px;
    background-color: #333;
    border-radius: 5px;
}

.circle {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #333;
    border-radius: 50%;
}